Intermediate
Saved
DerivedDataCache
Binaries
.vs
*.sdf
*.opensdf
*.sln
*.suo
*.pdb
*.exe
*-DebugGame.dll
*.sym
*.debug
CharacterDevelopment/Binaries/Win64/CharacterDevelopment.exp
CharacterDevelopment/Binaries/Win64/CharacterDevelopment.lib
CharacterDevelopment/Releases
*.log
*.target.xml
*.target
*.modules
*.opendb
*.VC.db
*.rar
RawAssets